@model Database_Plattegrond.Models.Aanvragen
@{
    ViewBag.Title = "Aanvraag Formulier";
}
<style>
    h4{
        text-align:left;
    }
</style>

<div class="container">
    <div class="row"><div class="col-md-12"><h2>Dataset opvragen</h2></div></div>
    <div class="row">
        <div class=" col-md-6">
            <h4>@Model.Naam</h4>
            <strong>Beschrijving:</strong> @Model.Beschrijving
        </div>
        <div class=" col-md-6">
            <h4>Wordt verstuurd naar:</h4>
            <strong>Naam:</strong> @Model.Eigenaar.Naam<br />
            <strong>E-mail:</strong> <a href="mailto:@Model.Eigenaar.Email">@Model.Eigenaar.Email</a><br />
            <strong><abbr title="Telefoon Nummer">Tel:</abbr></strong> +31790000000
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            @using (Html.BeginForm("AanvraagSturen", "Datasets"))
            {
                @Html.HiddenFor(m => m.DatasetID)
                @Html.HiddenFor(m => m.Naam)
                @Html.HiddenFor(m => m.Beschrijving)
                @Html.HiddenFor(m => m.Eigenaar.Email)
                @Html.HiddenFor(m => m.Eigenaar.Naam)
                <p>
                    @Html.LabelFor(m => m.VerwDoeleind, "Verwerkingsdoeleind")
                    @Html.TextAreaFor(m => m.VerwDoeleind, new { @class = "form-control", @validate = "RequiredField" })
                </p>
                <p>
                    @Html.LabelFor( m => m.NodigVanaf, "Nodig Vanaf")
                    @Html.TextBoxFor(m => m.NodigVanaf, new { @class = "form-control", @validate = "RequiredField", @placeholder = "Datum of p. direct"})
                </p>
                <input class="form-control btn" id="aanvraagSturen" name="aanvraagSturen" type="submit" value="Versturen" required="required">
            }
        </div>
    </div>
</div>
