@model Database_Plattegrond.Models.DatasetBewerken
@{
    ViewBag.Title = "Dataset Bewerken";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm("Bewerken", "Datasets", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Dataset.Id)
    @Html.HiddenFor(m => m.Dataset.DatumAangemaakt)
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>
                @Html.LabelFor(m => m.Dataset.Naam)
                @Html.TextBoxFor(m => m.Dataset.Naam, new { @class = "form-control " })
            </p>
            <p>
                @Html.LabelFor(m => m.Dataset.Beschrijving)
                @Html.TextAreaFor(m => m.Dataset.Beschrijving, new { @class = "form-control" })
            </p>
            <p>
                @Html.LabelFor(m => m.Dataset.Applicatie, "Naam Applicatie")
                @Html.TextBoxFor(m => m.Dataset.Applicatie, new { @class = "form-control" })
            </p>
            <p>
                @Html.LabelFor(m => m.Dataset.LinkOpenData, "Link Opendata")
                @Html.TextBoxFor(m => m.Dataset.LinkOpenData, new { @class = "form-control" })
            </p>
            <p>
                @Html.LabelFor(m => m.Dataset.Zoektermen, "Zoektermen")
                @Html.TextBoxFor(m => m.Dataset.Zoektermen, new { @class = "form-control" })
            </p>
        </div>
        <div class="col-md-3">
            <p>
                @Html.LabelFor(m => m.Dataset.Eigenaar.Naam, "Eigenaar")
                @Html.DropDownListFor(m => m.Dataset.Eigenaar.ID, Model.Gebruikers, "Selecteer", new { @class = "form-control" })
            </p>
            <p>
                @Html.LabelFor(m => m.Dataset.TypeDataset, "Type Dataset")
                @Html.DropDownListFor(m => m.Dataset.TypeDataset, Model.TypeDatasets, "Selecteer", new { @class = "form-control" })
            </p>
            <p>
                @Html.LabelFor(m => m.Dataset.Domein.Naam, "Domein")
                @Html.DropDownListFor(m => m.Dataset.Domein.Naam, Model.Domeinen, Model.Dataset.Domein.Naam, new { @class = "form-control" })
            </p>
        </div>
    </div>
    <input class="form-control btn-default" id="submitDataset" name="submitDataset" type="submit" value="Opslaan">
</div>
}
