@model Database_Plattegrond.Models.Dataset
@{
    ViewBag.Title = "Dataset Bewerken";
}
<h2>Dataset Bewerken</h2>


@using (Html.BeginForm("DatasetBewerken", "Datasets", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DatumAangemaakt)
    <p>
        @Html.LabelFor(m => m.Naam)
        @Html.TextBoxFor(m => m.Naam, new { @class = "form-control " })
    </p>
    <p>
        @Html.LabelFor(m => m.Beschrijving)
        @Html.TextAreaFor(m => m.Beschrijving, new { @class = "form-control" })
    </p>
    <input class="form-control btn" id="submitDataset" name="submitDataset" type="submit" value="Opslaan">
}
