@model Database_Plattegrond.Models.DatasetDetail
@{
    ViewBag.Title = "Dataset pagina";
}

<br />
<a href="/datasets/datasetbewerken/?id=@Model.Dataset.Id" class="btn btn-default" aria-label="Left Align">Bewerken</a>
<a href="/datasets/aanvraagformulier/?id=@Model.Dataset.Id" class="btn btn-default" aria-label="Left Align">Aanvraagformulier</a>


<h2>@Model.Dataset.Naam</h2>

<div style=" margin-right: 100px">
    <h4>Beschrijving</h4>
    <p>@Model.Dataset.Beschrijving</p>
</div>

<h4>Links</h4>

<p>
    Applicatie: @Model.Dataset.Beschrijving<br />
    Datum aangemaakt: @Model.Dataset.DatumAangemaakt<br />
</p>

<hr />

<h4>Contactgegevens beheerder</h4>
<p>
    Naam: Lisa Kunst<br />
    E-mail: <a href="mailto:L.Kunst@Zoetermeer.nl">L.Kunst@Zoetermeer.nl</a><br />
    Functie: Kunstig<br />
    Afdeling: Kunst & Cultuur<br />
    <abbr title="Telefoon Nummer">Tel:</abbr> +31798568426
</p>



<hr />

@using (Html.BeginForm("SubmitComment", "Datasets"))
{
    @Html.HiddenFor(m => m.Dataset.Id)
    <h4>Comment</h4>
    <p>
        @Html.TextAreaFor(m => m.NewCommentText, new { @class = "form-control", @placeholder = "Plaats een opmerking" })
    </p>
    <input class="form-control btn" id="submitDataset" name="submitDataset" type="submit" value="Verzenden">

}
<hr />

@foreach (Database_Plattegrond.Models.Comment comment in Model.Comments)
{
    <p>
        <strong>Naam:</strong>    @comment.Gebruiker.Naam<br />
        <strong>Datum:</strong>   @comment.DatumGeplaatst<br />
        <strong>Opmerking:</strong> @comment.Tekst<br />
    </p>
    <br />
}