@model Database_Plattegrond.Models.Dataset
@{
    ViewBag.Title = "Dataset pagina";
}

<br />
<a href="/datasets/datasetbewerken/?id=@Model.Id" class="btn btn-default" aria-label="Left Align">Bewerken</a>
<a href="/datasets/datasetbewerken/?id=@Model.Id" class="btn btn-default" aria-label="Left Align">Aanvraagformulier</a>


<h2>@Model.Naam</h2>

<div style=" margin-right: 100px">
    <h4>Beschrijving</h4>
    <p>@Model.Beschrijving</p>
</div>

<h4>Links</h4>

<p>
    Applicatie: @Model.Beschrijving<br />
    Datum aangemaakt: @Model.DatumAangemaakt<br />
</p>

<hr />

<h4>Contactgegevens beheerder</h4>
<p>
    Naam: Lisa Kunst<br />
    E-mail: <a href="mailto:L.Kunst@Zoetermeer.nl">L.Kunst@Zoetermeer.nl</a><br />
    Functie: Kunstig<br />
    Afdeling: Kunst & Cultuur<br />
    <abbr title="Telefoon Nummer">Tel:</abbr> +31798568426
</p>



<hr />


<h4>Comment</h4>
<p>
    @Html.TextArea("Comment", "Plaats een opmerking", new { @class = "form-control" })
</p>
<a href="/Home/Dataset" class="btn btn-default" aria-label="Left Align">Verzend</a>


<hr />


<p>
    <strong>Naam:</strong>    Henk de Vries<br />
    <strong>Datum:</strong>   07/03/2018 15:01 CET<br />
    <strong>Opmerking:</strong> Wat een goed beschreven dataset... Helemaal top.......<br />
</p>
<br />
<p>
    <strong>Naam:</strong>    Lisa Kunst<br />
    <strong>Datum:</strong>   31/02/2018 9:48 CET<br />
    <strong>Opmerking:</strong> Hey uhhhhhhhh ik ben niet de beheerder hiervan???? <br />
</p>