@model Database_Plattegrond.Models.DatasetsViewModel
@{
    ViewBag.Title = "Datasets";
}



<h2 class="titel">Datasets @Model.Domein</h2>

<h4>Filter op domein</h4>
<div class="filter">
    @{ foreach (Database_Plattegrond.Models.Domein Domein in @Model.Domeinen)
        {
            if (Domein.Naam == Model.Domein)
            {
                <a class="tooltipper domein domein-klein domein-selected" href="/Datasets" alt="@Domein.Naam" data-toggle="tooltip" data-placement="top" title="@Domein.Naam">
                    <div class="img-container img-container-klein">
                        <img src="~/Images/bloem.png" alt="@Domein.Naam" />
                    </div>
                </a>
            }
            else
            {
                <a class="tooltipper domein domein-klein" href="/Datasets/?domein=@Domein.Naam" alt="@Domein.Naam" data-toggle="tooltip" data-placement="top" title="@Domein.Naam">
                    <div class="img-container img-container-klein">
                        <img src="~/Images/bloem.png" alt="@Domein.Naam" />
                    </div>
                </a>
            }
        }
    }
</div>

<div class="clearfix"></div>

@{for (int i = 0; i < Model.Datasets.Count; i++)
    {
        <div class="dataset-container">
            <div class="dataset-bar">
                <a href="/Datasets/Details/?id=@Model.Datasets[i].Id">
                    <div class="dataset-item col-xs-11">
                        @Model.Datasets[i].Naam
                    </div>
                </a>
                <div class="col-xs-1" aria-label="Left Align">
                    <span class="btn glyphicon glyphicon-triangle-bottom dataset-item" aria-hidden="true" onclick="javascript:myFunction('#test_@i')"></span>
                </div>
            </div>
            <div class="dataset-panel">
                <div class="col-xs-12 dataset-panel-item" id="test_@i" hidden>

                    @if (Model.Datasets[i].LinkOpenData == null)
                    {
                        <a class="btn btn-default" href="" style="float:right">Data aanvragen</a>
                    }
                    else
                    {
                        <a class="btn btn-default" href="@Model.Datasets[i].LinkOpenData" style="float:right">Open data locatie</a>
                    }

                    <header>Beschrijving:</header>

                    @Model.Datasets[i].Beschrijving
                </div>
            </div>
        </div>
    }
}


<div class="clearfix"></div>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/Custom/OpenPanel.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>