@model Database_Plattegrond.Models.Dataset
@{
    ViewBag.Title = "Dataset pagina toevoegen";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.Label("Locatie")<br />
        Domein > Kunst > ...
    </p>
    <p>
        @Html.Label("Naam")
        @Html.TextBoxFor(m => m.Naam, new { @class = "form-control " })
    </p>
    <p>
        @Html.Label("Beschrijving")
        @Html.TextAreaFor(m => m.Beschrijving, new { @class = "form-control" })
    </p>
    <input class="form-control btn" id="submitDataset" name="submitDataset" type="submit" value="Opslaan">
}