@model Database_Plattegrond.Models.DomeinenViewModel
@{
    ViewBag.Title = "Domeinen Bewerken";
}

<h2 class="titel">Domeinen Bewerken</h2>

<a class="domein domein-new" href="/Domeinen/toevoegen">
    <div class="domein-naam">
        Toevoegen
    </div>
    <div class="img-container">
        <img src="~/Images/plus.png" alt="Toevoegen" />
    </div>
</a>


@{ foreach (Database_Plattegrond.Models.Domein Domein in @Model.Domeinen)
    {
        <a class="domein" href="/Domeinen/Bewerken/?domeinNaam=@Domein.Naam">
            <div class="domein-naam">
                @Domein.Naam
            </div>
            <div class="img-container">
                @{ if (Domein.Image != null)
                    {
                        var base64 = Convert.ToBase64String(Domein.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img src="@imgSrc" alt="@Domein.Naam" />
                    }
                    else
                    {
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="@Domein.Naam" />
                    }
                }
            </div>
        </a>
                    }
}
<div class="clearfix"></div>